<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css"/>
    <meta charset="UTF-8">
    <title>Estado de Linea</title>
</head>
<body>
<main class="main-container">
    <div class="card">

        <div class="card-header">
            <img id="icon" class="card-img" src="../img/success-icon.png">
            <h1 class="card-title"> Genial </h1>
        </div>

        <div class="card-content">
            <img id="mainImage" class="card-img" src="../img/central-icon.png" alt="Main image">
        </div>

        <div class="card-text">
            <p>
                En este momento tu linea no puede realizar la modificacion de las Apps
            </p>
        </div>

        <button class="card-button">Cerrar</button>
    </div>

</main>
</body>
</html>